<div class="not-found-page">
  <div class="not-found-content">
    <mat-icon class="not-found-icon" aria-hidden="true">cloud_off</mat-icon>
    <h1 class="not-found-title">{{ 'not_found.title' | transloco }}</h1>
    <p class="not-found-subtitle">{{ 'not_found.subtitle' | transloco }}</p>
    <p class="not-found-message">{{ 'not_found.message' | transloco }}</p>
    <a
      routerLink="/"
      mat-flat-button
      class="back-button"
    >
      <mat-icon>arrow_back</mat-icon>
      {{ 'not_found.back' | transloco }}
    </a>
  </div>
</div>
